/.idea
/.mongo_data
/.vscode
/.backup
/.dockerignore
/.gitignore
/.npmignore
/.history
.DS_Store
/node_modules
/npm-debug.log
docker-compose.*
/gulpfile.js
/lib/test
/lib/example
/misc
/CONTRIBUTING.md
